body {
  /*background: #ffcd00;*/
  background: white;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 11pt;
  line-height: 1.3;
}

a:link {
  color:  #ffa300;/*#80927c;*/
  text-decoration: none; 
}

a:visited {
  color:  #87a420;
}

a:hover {
  color: #596350;
  text-decoration: underline; 
}

a:active {
  color: #87a420;
}

a.select{
    color: #ffa300;

}


ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

li {
  padding-left:1em;
  text-indent: -0.7em;
}

li.pub {
  padding-left:1em;
  text-indent: -0.7em;
  margin-bottom: 15px;
}


li:before {
 content: "• ";
  color: #80927c;
}

html, body { height: 100%; margin: 0px; padding: 0px;}

.container { display: table; margin-left: auto; margin-right: auto; }
.content { display: table-row; height: 100%; }
.content-body { display: table-cell; }

.container { width: 1080px; height: 100%; background: white; border: 0px solid gray; border-top: 0px; border-bottom: 0px;}
.header { padding: 0px 10px; border-bottom: 0px solid gray; background:white; color: #596350; margin-top: 40px; margin-bottom: 20px; vertical-align: bottom }
.footer { padding: 0px 20px; margin-top: -15px; background: white; color: #596350; text-align: right;}
.content-body { padding: 20px;}
.note {color: #80927c; font-weight: bold; position: relative; top: -0.3em; font-size: 80%;}
.hidden {display: none;}
.visible {display: block;}

p {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px;
  text-align: justify;
}

p.reference {
  
}

div.contentintro {
  padding: 10px;
  padding-left: 10px;


}

div.contentarea{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  /*border: 1px solid #8c857b;*/

  border-left: 5px dotted #ffcd00;
  /*box-shadow: -5px 1px 5px #8c857b;*/
  border-radius: 0px;
  /*box-shadow: 0px 0px 2px 1px #dddddd;*/
  margin: 0px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
  text-align: left;
   /*background-color: white;*/
  
}


div.select {
  margin-left: 20px;
  
}



div.pub{
  
  padding: 0px;
  /*border-left: 1px solid #80927c;
  border-right: 1px solid #80927c;
  border-bottom: 1px solid #80927c;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;*/
  /*background-color: #eeeeee;*/
  border: 0px solid black;
  border-radius: 0px;
  margin: 5px;
  margin-top: 20px;
  margin-left:5px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: left;

}

div.more {
   border-left: 5px dotted #005eb8;
   padding: 0px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 10px;
}


div.footnote{
	margin: 0px;
	margin-top: -15px;
	margin-left:20px;
	font-size: 8pt;
}

table {
 padding: 0px;
 border: 0px;
 border-color: black;
 border-collapse:collapse;
 padding-bottom: 20px;
 width: 100%;
}

table.audiotable {
  /*display: none;*/
}

td {
  vertical-align: middle; 
    padding-top: 5px;
  padding-bottom: 5px;
}


td.audio{
  width: 200px;
  text-align: center;
  
}

td.secondary{
  text-align: right;
  width: 180px;
   color: #8c857b;
font-family: Georgia, serif;
font-style: italic;
}

tr.highlight td {
  padding-bottom: 0px;
  padding-top: 10px;
  vertical-align: bottom;
}


tr.odd td {
    background-color: #F5F5F5;
}

tr.even td {
    background-color: white;
}


audio {
  width: 120px;
  display: table;
  margin: 0 auto;
}

h1 {
/*color: #596350;*/
/*color: #00965e;*/
color: #753bbd;
font-family: Arial bold, sans-serif;
font-size: 30pt;
margin: 0px;
text-align: left;
line-height: 1;
padding-left: 5px;
}


h2 {
 color: #753bbd;
font-family: Georgia, serif;
font-style: italic;
font-size: 14pt;
 margin: 0px;
 margin-left: 5px;
 margin-bottom: 0px;
 /*border-bottom: 3px double #80927c;*/
 text-align: left;
}

h3 {
color: #8c857b;
font-family: Arial bold, sans-serif;
 margin: 5px;
 margin-left: 0px;
 /*border-bottom: 3px double #80927c;*/
 text-align: center;
}



h4 {
color: #8c857b;
font-family: Arial bold, sans-serif;
 margin: 0px;
 margin-bottom: 0px;
 padding: 0px;
 padding-left: 10px;
 font-size: 10pt;
 /*border-bottom: 3px double #80927c;*/
 text-align: left;
}

h5 {
color: #8c857b;
font-family: Arial bold, sans-serif;
 margin: 0px;
 padding: 0px;
 padding-left: 10px;
 font-size: 8pt;
 /*border-bottom: 3px double #80927c;*/
 text-align: left;
}


h6 {
 color: #753bbd;
font-family: Georgia, serif;
font-style: italic;
font-size: 16pt;
 margin: 0px;
 margin-left: 5px;
 margin-bottom: 0px;
 /*border-bottom: 3px double #80927c;*/
 text-align: left;
}
